#board{
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 400px;
 
}

.box {
    border: 1px solid darkgray;
    margin: none;
    min-height:38px;
        flex: 1 1 38px;
}


