#board{
    background: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
 
}

.blah {
    border: 1px solid darkgray;
    margin: none;
    min-height:50px;
    flex-shrink: 1;
    flex-basis: 50px; 
}