#board{
    background: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 400px;
 
}

.box {
    border: 1px solid darkgray;
    margin: none;
    min-height:30px;
        flex: 1 1 30px;
    background-color: white;
}

#container {
    display: flex;
    justify-content: center;
}

#game-header {
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: rgb(255, 117, 117);
}

button {
    background-color: rgb(214, 0, 0);
    border-radius: 5rem;
    color: white;
}

#button-container {
    height: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}